@use "sass:math";
@import "./config.scss";
@import "../../../repo/scss/base/null.scss";

// Подключение темы (набор цветов)
@import "./theme.scss";

// Базовая разметка страницы
[class*="__container"], .section-container {
	max-width: px($containerWidth);
	padding: 0 px(math.div($containerPadding, 2));
	margin: auto;
}
main {
	flex: 1 1 auto;
	background-color: $--mainBgWhite;
}

@import "./typography.scss";
@import "./framework.scss";
// @import "../components/drawers.scss";
@import "../components/common.scss";
@import "../components/burger-btn.scss";
@import "../components/header.scss";
@import "../components/footer.scss";