.gallery-header {
	background-color: $--mainBgBlack;
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 9px;
		padding-bottom: 9px;
	}
	&__title {
		font-size: 28px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: $--white;
		@media (max-width: $mbpSmallMobile) {
			font-size: 20px;
			line-height: 23px;
		}
	}
}