<footer class="footer @@className">
	<div class="footer__wrap">
		<div class="footer__inner">
			<div class="footer__block footer-block">
				<h3 class="footer-block__title">контакты:</h3>
				<dl class="footer-block__list footer-block__list_left">
					<div>
						<dt>Адрес:</dt>
						<dd>г. Севастополь, с. Верхнесадовое, <br>ул. Севастопольская, 82</dd>
					</div>
					<div>
						<dt>Бронирование экскурсий:</dt>
						<dd><a href="tel:+78692729594" class="footer-link hoverable">+7&nbsp;(8692)&nbsp;729-594</a></dd>
					</div>
					<div>
						<dt>Социальные сети:</dt>
						<dd><a href="https://vk.com/dk.vsadovoe1960" class="footer-link footer-link_underlined hoverable">https://vk.com/dk.vsadovoe1960</a></dd>
					</div>
				</dl>
			</div>
			<div class="footer__block footer-block">
				<h3 class="footer-block__title">РЕЖИМ РАБОТЫ МУЗЕЯ:</h3>
				<dl class="footer-block__list footer-block__list_right">
					<dt>Открыто:</dt>
					<dd>
						<div class="footer-schedule">
							<div class="footer-schedule__hours">10:00 - 18:00</div>
							Среда, четверг, пятница, суббота, воскресенье
						</div>
					</dd>
					<dt>Выходной:</dt>
					<dd>Понедельник, вторник</dd>
				</dl>
			</div>
		</div>
	</div>
</footer>